{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_logo">
        <h2>
          آشیانه سبز
        </h2>
      </div>
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <img src="/static/images/location.png" alt="">
              <span>
                آدرس فروشگاه ما
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">

              <span>
                شماره تماس : 09132224444
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="/static/images/mail.png" alt="">
              <span>
                ashiyanesabz@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="text" placeholder="ایمیل خود را وارد کنید">
              <button>
                subscribe
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="info_social">
            <div>
              <a href="">
                <img src="/static/images/facebook-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="/static/images/twitter-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="/static/images/linkedin.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="/static/images/instagram.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end info section -->



</body>
</html>