{% extends "layoutmain.html" %}

{% block titlePlants %}
کاربری وجود ندارد
{% endblock %}

{% block bodyplant %}
<section class="thanks layout_padding text-center">
    <div class="container">
        <div class="heading_container">
            <h2>در حال حاضر کاربر فعالی وجود ندارد </h2>
            <h3>شما می توانید با رفتن به بخش کاربران  </h3>
            <h4> اگر قبلا ثبت نام را انجام داده اید با رفتن به بخش ورود با نام کاربری خود وارد سایت شوید </h4>
            <h4> ااگر نیز ثبت نام نکرده اید با رفتن به بخش ثبت نام ، ثیت نام  خود را تکمیل کرده و سپس با نام کاربری خود وارد سایت شوید </h4>
            <a href="/Users/" class="btn btn-primary"> ورود</a>
        </div>
    </div>
</section>
{% endblock %}